div.cart-wrapped {
  cursor: auto;
  display: flex;
  flex-direction: column;
}

div.cart-wrapped > .cart-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart-wrapped > div > img {
  width: 140px;
  height: 140px;
  object-fit: contain;
}

.cart-detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#remove:hover {
  color: red;
}

.cart-detail > p {
  color: #f24f3a;
  font-size: 14px;
}

.cart-detail p {
  font-weight: 500;
  text-align: right;
}

.plus, .minus {
  font-size: 22px;
  font-weight: 600;
  margin: 0px;
  color: salmon;
  cursor: pointer;
  padding: 3px;
}

@media screen and (max-width: 715px) {
  .checkout-main > div {
    font-size: 15px;
  }
}