.checkout-body {
  align-items: flex-end;
}

div.checkout-main {
  flex-direction: column;
}

div.checkout-main, span.checkout-main {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #efefef;
  align-items: flex-end;
  width: 90%;
}

.checkout-border {
  border-bottom: 1px solid #efefef;
  width: 90%;
}

div.checkout-button-wrapped > a {
  border: 1px solid;
}

@media screen and (max-width: 992px) {
  div.checkout-main {
    align-items: center;
  }

  span.checkout-main {
    justify-content: center;
  }

  div.checkout-button-wrapped {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  div.checkout-button-wrapped > a {
    margin-right: 0px !important;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 400px) {
  .checkout-wrapped {
    min-width: 100%;
  }

}