.checkout-body {
  align-items: flex-end;
}

div.checkout-main {
  flex-direction: column;
}

div.checkout-main, span.checkout-main {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #efefef;
  align-items: flex-end;
  width: 90%;
}

.checkout-border {
  border-bottom: 1px solid #efefef;
  width: 90%;
}